CandidaturaE+\.vs
CandidaturaE+\bin
CandidaturaE+\obj

CandidaturaE+Library\.vs
CandidaturaE+Library\bin
CandidaturaE+Library\obj

CandidaturaE+WebApi\.vs
CandidaturaE+WebApi\bin
CandidaturaE+WebApi\obj

Notificacoes\.vs
Notificacoes\bin
Notificacoes\obj
