@model CandidaturaEmais.Models.PFC

@{
    ViewData["Title"] = "Alterar";
    ViewData["Subtitle"] = "PFC";

    ViewData["Save"] = "Guardar Alterações";

    ViewData["Go Back"] = "Voltar";
}

<h1>@ViewData["Title"]</h1>

<h4>@ViewData["Subtitle"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PFCId" />
            <div class="form-group">
                <label asp-for="PropostaUrl" class="control-label"></label>
                <input asp-for="PropostaUrl" class="form-control" />
                <span asp-validation-for="PropostaUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocenteId" class="control-label"></label>
                <select asp-for="DocenteId" class="form-control" asp-items="ViewBag.DocenteId"></select>
                <span asp-validation-for="DocenteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlunoId" class="control-label"></label>
                <select asp-for="AlunoId" class="form-control" asp-items="ViewBag.AlunoId"></select>
                <span asp-validation-for="AlunoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@ViewData["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@ViewData["Go Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
